.FormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.Label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}