/* CardItem.css */
.card {
    width: 300px;
    max-height: 1200px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .card img {
    width: 11rem;
    height: 150px;
    
  }
  
  .btn {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  